/* p{
    font-family: serif;
    font-size: 20px;
    text-align: left;
    color: mediumblue;
}
.topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  .topnav a.right {
    float:right;
  }
.square {
    float:right;
    position: relative;
    width: 100%;
    height: 500px;
    margin:1.66%;
    background-color: white;
    overflow:hidden;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

.content {
    position:absolute;
    height:90%;
    width:90%;
    padding: 6%;
}
.button {
  background-color: #103a89;
  color:white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  align-items: center;
}

.button:hover {
  background-color: gray;
  color: white;
}
#grad1 {
  height: 1000px;
  background-image: linear-gradient(#4d94ff, #99c2ff,#b3d1ff);
}

.logo{
	border-radius: 60%;
	height:100px;
	width:100px;
	left:80% !important;
	top:50%;
	} */

    .divider:after,
    .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
    }
    .h-custom {
    height: 830px;
    }
    @media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
    }
  
  