/* body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #103a89;
    color: white;
  }
  .topnav a.right {
    float:right;
  }

  img {
    max-width: 100%;
    height: 400px;
  }

  .column {
    float: left;
    padding: 10px;
  }
  .leftside{
    width: 40%;
    height:450px;
  }
  .rightside{
    width:60%;

  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .content{
    font-family: serif;
    font-size: 25px;
    position:relative;
    text-align:justify;
  }
  .title{
    font-family: serif;
    font-style: oblique;
    font-size: 35px;
    color:green;
    position:relative;
  }
  .test{
    font-size: 30px;
    color: cornflowerblue;
  }

.button {
    background-color: #103a89;
    color:white;

    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    align-items: center;
  }

  .button:hover {
    background-color: gray;
    color: white;
  }

  #grad1 {
  height: 1000px;
  background-image: linear-gradient(#4d94ff, #99c2ff,#b3d1ff);
} */


.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
  