<!-- <p>home works!</p> -->

<app-menu-bar></app-menu-bar>
<head> </head>
 
<body>

  <span class="">
    <br />
    <img class="bgimg  " style="float: left" src="assets\images\homegirl.svg" />
    <!-- Online Exam Portal -->
    <!-- <h1 class="heading" style="background-color:powderblue;"> TruEvaluate Online Assessment</h1> -->
  </span>


  <div class="card mainpage float-right col-7" style="width: 50rem">
    <div class="card-body">

      <h3 class="card-title mb-2 display-1 ">TruEvaluate</h3>
      <h3 class="card-text display-5" >Online Assessment Platform</h3>
      <p class="card-text">
        Welcome to TruEvaluate Online Assessment Platform to test your knowledge on various coding concepts.

      </p>
    </div>
  </div>
</body>


