<!-- <p>home works!</p> -->

<app-menu-bar></app-menu-bar>
<head> </head>
 
<body>

  <div class="card mainpage float-right col-7" style="width: 50rem">
    <div class="card-body">
      <img class="bgimg  " style="float: left" src="assets\images\home2.jpg" />
      <h4 class="card-title mb-2 display-1 head">ExamPortal</h4>
      <!-- <h3 class="card-text display-5" >Online Assessment Platform</h3> -->
      <br/>
      <h5 class="card-text">
        Welcome to Online Assessment Platform to test your knowledge on various coding concepts.
      </h5>
      <img class="bottom" style="float: left" src="assets\images\2.png" />
    </div>
  </div>
</body>


