

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.topnav a.right {
  float:right;
}

.title{
  font-family: serif;
  font-style: oblique;
  font-size: 300px !important;
  height: 100%;
  line-height: 0px;
  color:white;

  text-align: center;
  justify-content: center;
  height: auto;
  max-width: 100% ;


}

.mainpage{
  margin: 15% 10% 0 0;
  border-color: white;
}

.bgimg
{
  /* width: 75%; */
  height: 5%;

  width: 45%;
   background-position: center;
  background-repeat: no-repeat;
}
.heading
{
  position: absolute;
  top:30%;
  left:65%;
  font-size: 70px !important;


}
.mlauto{
  margin-left: auto;
  margin-right: auto;
}
